## gradle ##
.gradle/
out/
target/
build/
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Directories ###
LOGS_IS_UNDEFINED/
LOG_PATH_IS_UNDEFINED/
logs/
json_in/
ssl/
.settings/

### File types ###
*.bak
*.gz
*.jks
*.pem
*.log
*.p12
*.ks
*.der
*.ts
*.secrets

### others ###
.settings/
.classpath
.project

### Files ###
ip
tags
finance_db_master.xlsm
